<li [ngClass]="{'list-group-item': true,
                'list-group-item-success': this.post.loveIts > 0,
                'list-group-item-danger': this.post.loveIts < 0}"
        class="position-relative">
   <div class="date">{{ this.post.created_at | date: 'EEEE d of MMMM y' }}</div>
   <h2>{{ this.post.title }}</h2>
   <p>{{ this.post.content }}</p>
   <button class="btn btn-success"
           (click)="onILike()">I love it!</button>
   <button class="btn btn-danger"
           (click)="onIDontLike()">I don't love it!</button>
   <button class="btn btn-danger deleteButton"
           (click)="onDelete()">Supprimer ce post</button>
</li>
