<li [ngClass]="{'list-group-item': true,
                'list-group-item-success': article.loveIts > 0,
                'list-group-item-danger': article.loveIts < 0}">
   <span class="date">{{ date | date: 'EEEE d of MMMM y' }}</span>
   <h2>{{ article.title }}</h2>
   <p>{{ article.content }}</p>
   <p>{{ article.loveIts }}</p>
   <p>{{ article.created_at }}</p>
   <button class="btn btn-success"
           (click)="onILike()">I love it!</button>
   <button class="btn btn-danger"
           (click)="onIDontLike()">I don't love it!</button>
</li>
